@use '@/assets/styles/skeleton.module.scss' as *;

.container {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-bottom: 20px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-bottom: 20px;

    &_repeat {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      gap: 16px;
    }
  }
}
