@use '@/assets/styles/skeleton.module.scss' as *;

.analytics {
  background: var(--panel);
  border-radius: 22px;
  padding: 24px;

  .zeroLine {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 1px;
    background: var(--border);
  }
}
